<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav>
        <h4>HR Management</h4>
    </nav>
    <br><br>
    <center>
        <h1>404 Not found</h1>
        <a href="/" class="btn">Back to home page</a>
    </center>
</body>

</html>