nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

table thead tr {
  height: 30px;
  background: #212529;
}
table thead th {
  color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {    
    list-style: none;    
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

        .card {
            width: 22rem;
            margin: 0 auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
        }

        .card-body {
            padding: 20px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
        }

        .btn-primary {
            width: 100%;
            margin-top: 15px;
        }
